.account-box{
  .item{ margin-top: 15px; background:#fff; }
  .account-info-inner{padding: 32px 68px 0; overflow: hidden;}
  .account-head{width: 120px; height: 120px; float: left; border-radius: 5px;}
  .account-info{
    overflow: hidden; width: 893px; height: 120px; box-sizing: border-box; float: right; border-bottom: 1px solid #e2e2e2;
    .color1{color: #474747;}
    .color2{color: #3d3d3d;}
    .color3{color: #ff0000;}
    .color4{color: #016dbf; text-decoration: underline;}
    .item-btn{
      padding:  0 5px 0 24px; font-size: 14px; line-height: 16px; margin-left: 20px;
      border: 1px solid #0070c0; color: #0070c0; background: url("../images/upgrade.png") no-repeat 5px center;
      &.money{background-image: url("../images/money.png")}
    }
  }
  .account-item{
    color: #000; font-size: 19px; margin-top: 20px;
    float: left; line-height: 26px; height: 26px; width: 339px;
    &.font-big{font-size: 23px;}
  }
  .item-name{width: 553px;}

  .account-info-detail{
    line-height: 48px; padding-left: 68px;
    height: 206px; overflow: hidden; font-size: 19px; padding-top: 43px; box-sizing: border-box;
    .account-detail-item{float: left; width: 368px;}
    .item-label{color: #676767;}
    .item-text{color: #000; font-size: 19px;}
  }
  .account-detail-btn{height: 60px; text-align: right; padding-right: 65px; padding-top: 10px;}
  .account-btn{
    height: 28px; line-height: 28px; background: #fff;
    padding: 0 6px 0 25px; border: 1px solid #d7d7d7; color:#0070c0; font-size: 14px;}
  .account-btn + .account-btn{margin-left: 39px;}
  .btn-toggle{background: url("../images/toggle_hide.png") no-repeat 8px center;}
  .btn-toggle.show{background: url("../images/toggle.png") no-repeat 8px center;}
  .btn-edit{background: url("../images/edit_btn.png") no-repeat 8px center;}

  .menu-box{
    height: 60px; border-bottom: 1px solid #d1d1d1; line-height: 60px;
    .menu-box-inner{width: 780px; margin: 0 auto; overflow: hidden;}
    .menu-item{
      float: left; width: 260px; text-align: center;
      &.active .menu-text{border-bottom-color: #2283c8;}
    }
    .menu-text{border-bottom: 2px solid transparent; font-size: 24px; color: #474747;  line-height: 58px;
      display: inline-block; vertical-align: bottom; height: 58px; cursor: pointer;}



  }

  .menu-detail-main{padding: 30px 0 30px 194px; display:none;   &.active{display: block;}}
  .menu-detail-server{
    .item-inner{float: left; margin-right: 43px;}
    .menu-detail__item{
      height: 70px; overflow: hidden; padding-bottom: 10px;
      .icon1{background-position: 0 0;}
      .icon2{background-position: 0 -75px;}
    }
    .menu-detail__icon{height: 60px; width: 60px; margin-right: 73px;}
    .menu-detail__main{width: 550px; margin-top: 10px;}
    .menu-detail__tt{font-size: 14px; color: #676767;}
    .menu-detail__ct{font-size: 12.5px; color: #252525;}
    .menu-detail__btn{
      width: 100px; margin-top: 19px;
      .detail-btn{padding: 0 8px; font-size: 14px; color: #fff; background: #3984c5; border-radius: 2px; cursor: pointer;}
    }
  }

  .menu-detail-change{
    padding: 30px 145px;
    .menu-change-tt{padding-bottom: 20px;}
    .menu-change-select{color: #0070c0; font-size: 14px; width: 108px;}
    .menu-change-text{color: #3d3d3d; font-size: 14px; margin-left: 20px;}
    .menu-change-page{margin-top: 30px;}
  }

  .menu-detail-main.safe_class{
    padding-top: 60px;
    .menu-detail__item{height: auto; padding-bottom: 30px;}
    .menu-detail__item .icon1{background-position: 0 -162px;}
    .menu-detail__item .icon2{background-position: 0 -197px;}
    .menu-detail__icon{height: 30px;width: 26px; margin-right: 0;}
    .menu-detail__ct{font-size: 14px; color: #252525;}
    .menu-detail__name{height: 30px; line-height: 30px; width: 90px;}
    .menu-detail__main, .menu-detail__btn{line-height: 30px; margin-top: 0; position: relative;}
    .menu-detail__checkbox{position: absolute; cursor: pointer;
      width: 15px; height: 15px; background: red;
      top: 6px; right: -43px; background: url("../images/icon-checked1.png") no-repeat center;
      &.active{background: url("../images/icon-checked.png") no-repeat center;}
    }
  }

  //站内消息、浏览文档记录
  &.preview-file{
    .menu-box{
      .menu-box-inner{width: 1070px;}
      .menu-text{border-color: #2283c8;}
      .search-box{float: right; width: 360px; font-size: 14px; text-align: right;}
      .menu-tip-box{
        display: inline-block; line-height: 58px; width: 320px; padding-left: 24px; font-size: 14px; color: #313131;
        span+span{margin-left: 50px;}
      }
      .search-btn{
        color: #313131; border: 1px solid #dad9d9; border-radius: 3px; padding: 0 18px;
        background: transparent; line-height: 26px;
      }
      .search-text{
        width: 167px; border: 1px solid #dad9d9; color: #313131; line-height: 26px; border-radius: 3px; padding-left: 30px;
        background: url("../images/search_btn.png") no-repeat 8px;
      }
      .search-box-select{border: 1px solid #dad9d9;}
      .search-box-btn{cursor: pointer; margin-right: 5px; text-decoration: underline;}
    }
    .menu-detail-main{display: block; padding: 40px 67px 30px;}
    .menu-detail__icon.icon4{background-position: 0 -237px; width: 30px; margin-right: 20px;}
    .menu-detail__icon.noRead{background-position: 0 -283px;}
    .menu-detail__time{line-height: 30px; margin-right: 73px;}
    .menu-detail-main.safe_class .menu-detail__name{width: 60px;}
    .menu-detail__main{width:716px;}
  }

  //账号充值、意见反馈
  &.account-recharge{
    .menu-box{
      .menu-box-inner{width: 1070px;}
      .menu-text{border-color: #2283c8;}
      .menu-feedback-nav{float: right; width: 700px; line-height: 60px; text-align: right;}
    }
    .menu-recharge-detail{padding: 35px 67px;}
    .menu-recharge-detail-tt{font-size: 19.5px; color: #474747;
      .recharge-money{width: 156px; border: 1px solid #d1d1d1; margin-right: 5px; line-height: 24px; border-radius: 3px;}
    }
    .menu-recharge-detail-btn{padding: 23px 0 0 97px;
      .recharge-btn{width: 158px; height:26px; line-height: 26px;background: #3984c4; text-align: center; color: #fff; border-radius: 3px;}
    }
    .menu-recharge-banks{overflow: hidden; padding-top: 45px;}
    .menu-bank-item{
      cursor: pointer; line-height: 44px; text-align: center; font-size: 18px;
      float: left; margin: 0 15px 45px 46px; width: 153px; height: 44px; border: 1px solid #d6d6d6;border-radius: 3px;
      &.selected{border-color: #0070c0;} background-position: center center; background-repeat: no-repeat;
    }

    //意见反馈
    .menu-feedback-item{
      padding-top: 80px;
      +.menu-recharge-detail-btn{text-align: right;
        .recharge-btn{width: 92px;}
      }
    }
    .menu-feedback-item:first-child{padding-top: 40px;}
    .feedback-item-text{font-size: 23px; color: #3c3c3c; width: 102px; display: inline-block; vertical-align: top;}
    .feedback-item-img{ width: 185px; height: 185px; border-radius: 5px; background: #eaeef3; border: 1px solid #cacaca; display: inline-block; vertical-align: top;}
    .feedback-add{background: #eaeef3 url("../images/img_add.png") no-repeat center;cursor: pointer;}
    .feedback-item-textarea{background: #eaeef3; border: 1px solid #cacaca; border-radius: 5px;  width: 940px; padding-top: 10px; padding-left: 24px; font-size: 20px; line-height: 24px;}
    .feedback-textarea-tip{padding-left: 112px; font-size: 14px; color: #818181; line-height: 24px;}

  }
}

.recharge_dlg_inner{
  position: absolute; top: 50%; left: 50%; width: 500px; height: 316px; margin-top: -158px; margin-left: -250px; background: #fff;
  border-radius: 5px;
  .recharge_dlg_close{
    position: absolute;
    right:6px; top: 6px; width: 30px; height: 30px; background-position: 7px -333px; cursor: pointer;
  }
  .recharge_dlg_tt{text-align: center; padding: 53px 0 10px;}
  .recharge_dlg_tt-tip{display: inline-block; width: 36px; height: 36px; border-radius: 18px; text-align: center; line-height: 36px; font-size: 20px; font-weight: bold; background: red; color: #fff;}
  .recharge_dlg_main{padding: 10px;
    h5{color: #000; font-size: 18px; padding-bottom: 10px;}
    h6{ font-size: 14px;color: red;
      &.black{color: #000;}
      span{color: red;}

    }
  }
  .recharge_dlg_btn{text-align: center; margin-top: 26px;}
  .recharge_btn{width: 108px; height: 30px; border-radius: 3px; background: #70b7f3; color: #fff;}
}


