.main .item1{
  margin-top: 30px;
  overflow: hidden;
}
.main .item1 .cont{
  width: 286px;
  height: 320px;
  margin-right: 17px;
  padding: 0 50px 0 45px;
  background: #fff;
  text-align: center;
}
.main .item3 .cont-box{height: 268px; overflow: hidden;}
.main .item1 .cont:last-child{
  margin-right: 0;
}
.main .item1 .img-box{
  padding: 42px 0 28px;
}
.main .item1 .img-box .title{
  padding-top: 26px;
  color: #2e2e2e;
  font-size: 16px;
}
.main .item1 .cont .info{
  color: #999;
  font-size: 13px;
}
.main .item1 .cont .btn-look{
  display: block;
  width: 118px;
  height: 34px;
  margin: 48px auto 0;
  color: #157cc6;
  font-size: 12px;
  line-height: 34px;
  border: 1px solid #157cc6;
  border-radius: 24px;
  text-align: center;
  &:hover{background-color: #157cc6; color: #fff;}
}
.main .item2,.main .item3{
  margin-top: 30px;
  padding: 30px 28px 14px;
  background: #fff;
}
.main .item2 .cont-box{
  margin-top: 30px;
}
.main .item2 .txt1,.main .item3 .txt1{
  color: #a1a1a1;
  text-align: center;
}
.main .item2 .txt2,.main .item3 .txt2{
  margin-top: 16px;
  color: #2d2d2d;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 8px;
  text-align: center;
}
.main .item2 .left{
  width: 910px;
}
.main .item2 .left .list{
  position: relative;
  display: inline-block;
  width: 290px;
  height: 200px;
  box-sizing: border-box;
  margin: 0 10px 16px 0;
  border: 1px solid #ececec;
  &:hover{
    .title,.info{color: #6c9aff;
    }
  }
}
.main .item2 .left .text{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 8px 10px;
  background: rgba(0,0,0,.5);
}
.main .item2 .left .title{
  color: #fff;
}
.main .item2 .left .info{
  color: #c6c9c8;
  font-size: 13px;
}
.main .item2 .right{
  width: 220px;
  margin-left: 10px;
  border: 1px solid #a8a8a8;
}
.main .item2 .right .tip{
  height: 30px;
  color: #fff;
  line-height: 30px;
  letter-spacing: 4px;
  background: #1190de;
  text-align: center;
}
.main .item2 .right .ul-box{
  padding: 0 24px;
}
.main .item2 .right .list a{
  display: block;
  height: 34px;
  padding: 18px 0;
  color: #a8a8a8;
  font-size: 13px;
  border-bottom: 1px solid #a8a8a8;
  text-align: center;
  overflow: hidden;
  &:hover{background-color: #fbfbfb;}
}
.main .item2 .right .list:last-child{
  border: none;
}
.main .item2 .right .btn-look{
  display: block;
  margin: 4px auto 8px;
  font-size: 12px;
  text-align: center;
}
.main .item3 .ul-box{
  margin-top: 28px;
}
.main .item3 .ul-box .li{
  display: inline-block;
  width: 538px;
  margin-bottom: 46px;
}
.main .item3 .ul-box .tip{
  padding-bottom: 10px;
  color: #0f8eda;
  font-weight: 600;
  border-bottom: 1px solid #adadad;
}
.main .item3 .ul-box .text{
  padding: 16px 0 5px;
  color: #0f8eda;
}
.main .item3 .ul-box .rank-box{
  width: 250px;
}
.main .item3 .ul-box .rank-box .list{
  display: block;
  width: 250px;
  padding: 23px 0 4px;
  border-bottom: 1px solid #e9e9e9;
}
.main .item3 .ul-box .li .bank{
  margin-right: 18px;
  padding: 0 2px;
  color: #fff;
  font-size: 12px;
  background: #e52c2c;
}
.main .item3 .ul-box .li .bank2{
  margin-right: 34px;
  padding: 0 4px;
  color: #fff;
  font-size: 12px;
  background: #fdba80;
}
.main .item3 .ul-box .li .bank3{
  margin-right: 34px;
  padding: 0 4px;
  color: #fff;
  font-size: 12px;
  background: #e8c23e;
}
.main .item3 .ul-box .li .bank4{
  margin-right: 34px;
  padding: 0 4px;
  color: #7e7e7e;
  font-size: 12px;
  background: #dbdbdb;
}
.main .item3 .ul-box .li .bank5{
  margin-right: 34px;
  padding: 0 4px;
  color: #7e7e7e;
  font-size: 12px;
  background: #dbdbdb;
}
.main .item3 .ul-box .li .title{
  color: #5a5a5a;
}
.main .item3 .ul-box .li .price{
  color: #c1c1c1;
  font-size: 12px;
}
.main .item3 .ul-box .list-hover{
  display: none;
  width: 250px;
  padding: 23px 0 4px;
  border-bottom: 1px solid #e9e9e9;
}
.main .item3 .ul-box .list-hover.hover{
  display: block;
  .title{color: #0f8eda;}
}
.main .item3 .ul-box .list-hover .w1{
  width: 140px;
}