.main .left{
	width: 836px;
	margin-top: 15px;
}
.main .right{margin-top: 15px;}
.news-left{
	padding: 20px;background: #fff;
	.news-nav-box{
		border-bottom: 1px solid #d1d1d1; padding-bottom: 20px;
		.common_nav_item{font-size: 15px; color: #757575;}
	}
	h3{font-size: 26px; color: #000; padding-top: 23px;}
	.new-small-title{font-size: 14px; color: #888888; padding: 15px 0;
		>span{margin-right: 18px;}
		.count{float: right; margin-right: 0; background: url("../images/icon-yan.png") no-repeat left center;
			display: block; height: 18px; padding-left: 24px; background-size: 18px 18px;
		}
	}
	.new-content{font-size: 20px; line-height: 38px; color: #676767; text-indent: 42px;}
	.new-share-box{
		text-align: center;
		.new-share-item{
			cursor: pointer;
			display: inline-block; height: 40px; border: 1px solid #d1d1d1; width: 40px; border-radius: 20px;
			&.xl{background-position: 2px -579px;}
			&.wx{background-position: 2px -523px;}
			&.qq{background-position: 6px -472px;}
		}
		&.share_btn{
			.new-share-item{position: relative; border-radius: 0; width: 100px; border: 1px solid #d1d1d1; vertical-align: middle; line-height: 40px;}
			.icon_zan{background-position: -5px -696px; display: inline-block; width: 20px; height: 20px; vertical-align: text-bottom;}
			.icon_share{background-position: -2px -738px; display: inline-block; width: 20px; height: 20px; vertical-align: text-bottom;}
			.selected span{color: #2685c9;}
			.new_fight{width: 40px; background-position: 2px -633px; border-radius: 20px; border-right: 1px solid #d1d1d1;}
			.zan_1{border-right: none; padding-right: 10px; overflow: hidden;}
			.zan_2{border-left: none; padding-left: 10px; overflow: hidden;}
			.line{position: absolute; top: -10px; right: -53px; width: 60px; height: 60px; border-radius: 32px; border: 1px solid #d1d1d1; }
			.zan_bg{right: auto; left: -53px;}
		}
	}

	.new-tag{
		font-size: 14px; color: #676767; line-height: 30px; margin-top: 30px;
		.icon_tag{display: inline-block; vertical-align: middle; height: 30px; width: 30px; background-position: 0 -771px;}
		.tag_btn{padding: 0 10px; background: #f0f0f0; border-radius: 4px; line-height: 24px; margin-right: 6px;}
	}
}
.news-item{margin-top: 15px; padding: 20px;
	background: #fff; overflow: hidden;
	.news-img-item{float: left; width: 183px; text-align: left;}
	.news-img-item+.news-img-item{margin-left: 19px;}
	.news-img{width: 182px; height: 116px;}
	.news-img-tt{color: #4e4d4d; font-size: 14px; line-height: 26px; padding-top: 6px;}
	.news-img-tt2{color: #acacac; font-size: 12px;}

	.news-act-box{overflow: hidden;}
	.news-act-item{
		width: 50%; margin-top: 36px; line-height: 26px; float: left;
		+.news-act-item{border-left: 1px solid #adadad; padding-left: 12px;}
		h5{font-size: 15px; color: #0070c0; font-weight: bold;}
		a{font-size: 13px; color: #676767;}

		 .news-act-li{
			 >span{padding: 0 5px; border-radius: 4px; background: #dbdbdb; color: #fff; margin-right: 5px;}
			 &:first-child span{background: #e62b2b;}
			 &:nth-child(2) span{background: #ff9c4b;}
			 &:nth-child(2) span{background: #fed32a;}
		 }
	}
	.news-img-box{width: 791px; margin-top: 30px; height: 133px; background: url("../images/news.jpg") no-repeat center; background-size: 100% 100%;}
}
.news-page{background: #fff; margin-top: 15px;   overflow: hidden;
  .news-page-item{
    height: 110px; padding-top: 30px; line-height: 22px;
    text-align: center; float: left; width: 50%; font-size: 14px; color: #676767;
    +.news-page-item{border-left: 4px solid #e5e4e4;}
    a{color: #676767;}
  }

  .news-page-btn{}
}

.main .left .cont-wrap{
	padding: 0 24px;
	background: #fff;
}
.main .left .head{
	height: 86px;	
	color: #9e9e9e;
	line-height: 86px;
	border-bottom: 1px solid #d1d1d1;
}
.main .left .head a{
	color: #9e9e9e;
}
.main .left .cont-box .title{
	padding: 28px 0 20px;
	font-size: 16px;
}
.main .left .cont-box .info{
	color: #9e9e9e;
}
.main .left .info .icon{
	vertical-align: -2px;
}
.main .left .cont{
	padding: 32px 0;
	color: #676767;
	font-size: 16px;
}
.main .left .share-box{
	width: 138px;
	margin: auto;	
	overflow: hidden;
}
.main .btn-group{
	width: 270px;
	margin: 10px auto 52px;
	text-align: center;
}
.main .btn-group .zan,.main .btn-group .share{
	display: inline-block;
	width: 112px;
	height: 40px;
	margin-left: -13px;
	padding-left: 8px;
	color: #acacac;
	line-height: 40px;
	border: 1px solid #acacac;
	cursor: pointer;
}
.main .btn-group .plan{
	position: relative;
	display: inline-block;
	width: 68px;
	height: 40px;
}
.main .btn-group .img-box{
	position: absolute;
	left: -18px;
	top:0;	
	height: 40px;	
	border-left: 1px solid #acacac;
	border-right: 1px solid #acacac;
	border-radius: 24px;
	background: #fff;
}
.main .btn-group .img-border{
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 24px;
	border: 1px solid #acacac;
	border-radius: 24px;
}
.main .btn-group .img-border img{
	position: absolute;
	left: 8px;
	top: 8px;	
}
.main .btn-group .zan{
	background: url('../images/icon-zan1.png') no-repeat 12px center;
}
.main .btn-group .share{
	padding-left: 20px;
	color: #0172bd;
	background: url('../images/icon-share.png') no-repeat 30px center;
}
.main .link-box{
	padding-bottom: 30px;
}
.main .link-box .icon{
	margin-right: 14px;
}
.main .link-box .cont-box{
	width: 710px;
}
.main .link-box .link{
	display: inline-block;
	margin-right: 6px;
	padding: 2px 10px;
	color: #676767;
	background: #f0f0f0;
	border-radius: 4px;
}
.item2{
	margin: 10px 0;
	padding: 24px 4px 24px 24px;
	background: #fff;
}
.item2 .news-box{
	font-size: 0;
}
.item2 .news-box .news-list{
	display: inline-block;
	width: 182px;
	margin-right: 20px;
}
.item2 .news-box .title{
	color: #4e4d4d;
	font-size: 13px;
}
.item2 .news-box .text{
	color: #acacac;
	font-size: 12px;
}
.item2 .other-box{
	padding: 55px 0 32px;
}
.item2 .other-box .cont-left{
	width: 330px;
}
.item2 .other-box .tip{
	padding-bottom: 5px;
	color: #0070c0;
}
.item2 .other-box .list{
	display: block;
	margin-top: 18px;
	color: #676767;
	font-size: 13px;
}
.item2 .other-box .cont-right{
	width: 394px;
	padding-left: 10px;
	border-left: 1px solid #adadad;
}
.item2 .other-box .cont-right .common{
	display: inline-block;
	width: 15px;
	height: 14px;
	margin-right: 5px;
	color: #fff;
	font-size: 12px;
	line-height: 14px;	
	text-align: center;
}
.item2 .other-box .cont-right .bank1{
	background: #e62b2b;
}
.item2 .other-box .cont-right .bank2{
	background: #ff9c4b;
}
.item2 .other-box .cont-right .bank3{
	background: #fed32a;
}
.item2 .other-box .cont-right .bank4{
	background: #dbdbdb;
}
.item2 .other-box .cont-right .bank5{
	background: #dbdbdb;
}
.item3 .page{
	display: block;
	width: 416px;
	height: 40px;
	padding: 39px 0 34px;
	color: #676767;
	background: #fff;
	text-align: center;
}
.item3 .page .title{
	width: 190px;
	margin: 10px auto 0;
	background: #fff;
	text-align: center;
}
.right{
	width: 346px;
}
.right .item1{
	background: #fff;
}
.right .nav-box{
	height: 47px;
	line-height: 47px;
	background: #f7f7f7;
}
.right .nav-box a{
	float: left;
	display: block;
	width: 25%;
	height: 47px;
}
.right .nav-box .nav1{
	background: url('../images/icon-text1.png') no-repeat center center;
}
.right .nav-box .nav1.cur{
	background: #fff url('../images/icon-text2.png') no-repeat center center;
}
.right .nav-box .nav2{
	background: url('../images/icon-collect1.png') no-repeat center center;
}
.right .nav-box .nav2.cur{
	background: #fff url('../images/icon-collect2.png') no-repeat center center;
}
.right .nav-box .nav3{
	background: url('../images/icon-hot1.png') no-repeat center center;
}
.right .nav-box .nav3.cur{
	background: #fff url('../images/icon-hot2.png') no-repeat center center;
}
.right .nav-box .nav4{
	background: url('../images/icon-edit1.png') no-repeat center center;
}
.right .nav-box .nav4.cur{
	background: #fff url('../images/icon-edit2.png') no-repeat center center;
}
.right .item1 .cont-box{
	padding: 0 18px;
}
.right .item1 .cont-box .list{
	margin-bottom: 18px;
}
.right .item1 .cont-box .tip{
	padding: 20px 0 12px;
	color: #979797;
	font-size: 16px;
	font-weight: 600;
}
.right .item1 .info{
	width: 192px;
	margin-left: 8px;
}
.right .item1 .info .title{
	display: block;
	height: 54px;
	color: #676767;
}
.right .item1 .info .text{
	color: #888;
}
.right .item1 .info .count{
	padding-left: 18px;
	background: url('../images/icon-yan.png') no-repeat left center;
	background-size: 16px 16px;
}
.right .item1 .page{
	padding: 6px 0 15px;
	text-align: right;
}
.right .item1 .page .link{
	color: #0070c0;
}
.right .item2{
	margin: 16px 0;
	padding: 12px 12px 12px 18px;
	background: #fff;
}
.right .item3{
	background: #fff;
}
.right .item3 .tip{
	height: 40px;
	padding: 0 17px 0 55px;
	color: #979797;
	font-size: 16px;
	font-weight: 600;
	line-height: 40px;
	background: url('../images/icon-bq.png') no-repeat 16px center;
}
.right .item3 .arrow{
	color: #9b9b9c;
	font-size: 12px;
	background: url('../images/icon-right-arrow.png') no-repeat right center;
	background-size: 8px 8px;
}
.right .item3 .swiper{
	padding: 18px 16px 10px;
}
.right .item3 .swiper .link{
	display: inline-block;
	margin: 0 16px 16px 0;
	padding: 6px;
	color: #252525;
	border: 1px solid #f0f0f0;
}
.swiper-pagination-bullet{
	width: 5px;
	height: 5px;
	background: #aaa;
}
.swiper-pagination-bullet-active{
	background: #006dbf;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: -3px;
}

.news_list{
	.left{
		position: relative;
		.new_item{
			width: 50%; float: left; height: 368px;
			padding: 10px; box-sizing: border-box;
			.new_item-inner{background: #fff; height: 100%;position: relative;
				.new_item-img{
					width: 100%; padding: 10px;
					h5{
						display: block;
						overflow: hidden;
						font-size: 18px;
						color: #4D4D4D;
						font-weight: bold;
						height: 42px;
						line-height: 42px;
					}
					h6{overflow: hidden;
						height: 50px;
						line-height: 25px;}
				}
				.new_item-icon{height: 100px; width: 100%;}
			}
			&.new1{width: 60%;
				.swiper-container{height: 100%;
					.swiper-slide img{width: 100%; height: 100%;}
					.swiper-pagination-bullet{width: 14px; height: 14px;}
					.swiper-pagination{bottom: 3px !important;}
				}
			}
			&.new2{width: 40%;

				.new_item-ul{
					li{padding: 12px 10px; border-top: 1px solid #cedcec;
						background: url("../images/gtS.png") no-repeat 98% center;
						a{
							color: #676767;
							text-overflow: ellipsis; white-space: nowrap; display: block; width: 100%; overflow: hidden
						}
					}
				}
			}
			&.new3{
				height: 400px;
				.new_item-img{padding: 0;
					h5,h6{padding: 0 10px;}
				}

				.new_item-icon{height: 180px;}
				.new_item_tag{
					display: block;  overflow: hidden;  position: absolute;  width: 170px;
					height: 20px;  line-height: 20px;  bottom: 15px;  left: 20px;  color: #929292;
					a{  display: inline-block;  color: #929292;  margin: 0 5px;
					}
				}
				.new_item_detail{
					position: absolute;
					bottom: 15px;
					right: 15px;
					a{
						background: url(../images/icon_enterIco.png) center top no-repeat;
						padding: 25px 5px 0;  background-size: 25px;  color: #B7B7B7;
						&:hover{  background: url(../images/icon_enterIcoAct.png) center top no-repeat; background-size:25px;
						}
					}
				}
			}
		}

		.news_list_nav{
			text-align: center; padding: 30px 0;
			color: #a6a6a6; clear: both; width: 100%;
			margin: 30px 0 20px 0;
			.wrap{display: inline-block; margin: 0 auto;
				.page,ol,li{float: left;}
				.prev{background: url(../images/icon-prev.png) 50% 50% no-repeat;}
				.next{background: url(../images/icon-next.png) 50% 50% no-repeat; margin-right: 40px;}
			}
			a{
				border: 1px solid #e0e0e0;
				-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 0px rgba(255, 255, 255, 0.1);
				-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 0px rgba(255, 255, 255, 0.1);
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 0px rgba(255, 255, 255, 0.1);
				display: inline-block;  text-shadow: none;  font-size: 20px;  width: 40px;
				height: 40px;  line-height: 40px;  margin-right: 7px;  color: #a6a6a6;  float: left;
				&.cur{    -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.1), inset 0 1px 0px rgba(0, 0, 0, 0.1);
					background: #68c9d5;
					color: #FFF;}
			}
		}
	}

	.right{
		margin-top: 25px;
		.item1 .tip{font-size: 18px; color: #1EA9E2; border-bottom: 2px solid #1EA9E2;}
		.item1 .cont-box {

			.list{
				padding: 10px 0; margin: 0;
				border-bottom: 1px solid #eee;
				.count{background: none; color: #929292;}
				.info .title{height: 61px; white-space: normal;}
			}
		}
	}

}