html,body{background: #fcfcfc; width: 100%; height: 100%; padding: 0; margin: 0;  font-family: Helvetica, Arial, sans-serif; font-size: 14px;}
.main{max-width: 800px; box-shadow: 1px 1px 8px rgba(0, 0, 0, .15); padding: 15px; margin: 20px auto; background: #fff;}
h2{ border-left: 5px solid #9a9a9a; margin-left: -15px; padding-left: 15px; line-height: 23px; }
.row-box{border-radius: 5px; border: 2px solid #ddd; background: #f2f2f2;}
.second-row+.second-row{border-top: 2px solid #ddd;}
.second-row .el-col{padding: 6px 8px;}
.second-row .el-col+.el-col{border-left: 2px solid #ddd;}
.row-cert-box{text-align: right;}
.row-cert{width: 109px; height: 152px; margin: 0 10px;}
.col-link{color: #000; text-decoration: none;}
.col-link:hover{ text-decoration: underline; }
.row-box-col +.row-box-col{border-top: 2px solid #ddd}
.row-box-col{padding: 6px 8px;}