<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes">-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<div class="fix_nav ComFixNav"><ul>
    <li class="phone"></li>
    <li class="clock"></li>
    <li class="QRCode"></li>
    <li class="BackTop"><a href="#"></a></li>
</ul></div>
<!-- 注册窗口 -->
<div id="register" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">注册</h4>
            </div>
            <div class="modal-body">
                <form class="form-group" id="reg-form" action="{:url('index/index/register')}">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input name="mobile" id="mobile" class="form-control" type="text" placeholder="手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" style="margin: 15px 0;">
                            <input name="password" id="password" class="form-control" type="password" placeholder="密码">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-sm-6">
                            <input name="verify_code" id="verify_code" class="form-control" type="text" placeholder="验证码" />
                        </div>
                        <div class="col-sm-6">
                            <a class="code get-code" href="javascript:;"> 获取验证码</a>
                            <a class="code countdown hide">60s</a>
                        </div>
                    </div>
                    <div class="form-group checkbox">
                        <div class="col-sm-12">
                            <label>
                                <input type="checkbox"> 我已阅读并接受<a>《服务条款协议》</a>
                            </label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">提交</button>
                    </div>
                    <!--<a href="" data-toggle="modal" data-dismiss="modal" data-target="#login">已有账号？点我登录</a>-->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 登录窗口 -->
<div id="login" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">登录</h4>
            </div>
            <div class="modal-body">
                <form class="form-group" id="login-form" action="{:url('index/index/login')}">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input name="mobiles" id="mobiles" class="form-control" type="text" placeholder="手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" style="    margin: 15px 0;">
                            <input name="passwords" id="passwords" class="form-control" type="password" placeholder="密码">
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="uiContainer">
    <div class="menu">
        <div class="logo-inner">
            <img src="../image/logo.png" alt="logo" class="logo">
        </div>
        <div class="menu-box">
            <div class="menu-top-box"><a data-toggle="modal" data-target="#register" href="">注册</a>
                <a data-toggle="modal" data-target="#login" href="">登录</a></div>
            <div class="menu-top-inner"><ul>
                <li><a href="./index.html">首页</a></li>
                <li class="active"><a href="./compInfo.html">公司简介</a></li>
                <li><a href="./product.html">产品中心</a></li>
                <li><a href="./news.html">新闻资讯</a></li>
                <li><a href="./join.html">招商联盟</a></li>
            </ul></div>
        </div>

    </div>
</div>
<div class="uiContainer container-all">
    <div class="picture-box">
        <img src="../image/33.png" alt="bg">
    </div>
    <div class="comp-info">

        <div class="comp-info-title">公司简介</div>
        <div class="comp-info-ct">
            <div class="comp-info-item">
                <p>安福呈健康管理平台由武汉机锐苦信息技术有限公司独立研发、生产、推广与运营，为国内首先将光纤振动传感技术应用于人体生命体征采集与慢病管理服务的创靳公司，并享有多项发明专利及自主知识产权。</p>
                <p>秉承”面向家庭用户理供健脸甘理”的使命，安祖且致力于用科技峨能社区医泞，为老年人、要幼儿、小孩、成年人等各年龄段用户提供”线上＋线下、预侧＋分析十干预“的新型医疗健康服务，成为亿万家庭的健康守门人。</p>
                <p>武汉凯瑞普值息技术有限公司注册资本 1000 万元人民币．成立于 2017 年 6 月． 2018 年 6 月获得天使轮投资 1 000 万人民币，产品与服务不仅得到业界与用户的好评，商业模式更是得到了行业专家及资本风投机构的一致认可，目前高扳资本、民生银行等顶级投资机构均看好安福星基于移动互联网的社区医片服务和倪病管理模式。</p>
            </div>
            <div class="comp-info-item"><img src="../image/公司介绍.png" alt="公司介绍"></div>
        </div>

    </div>
    <div class="item bgColor2">
        <div class="item-title"><span>知识产权资质</span></div>
        <div class="item-box">
            <div class="item-lists">
                <ul>
                    <li><img src="../image/list.png" alt="s"><div class="item-list-text">在线诊疗服务平台</div></li>
                    <li><img src="../image/list.png" alt="s"><div class="item-list-text">在线诊疗服务平台</div></li>
                    <li><img src="../image/list.png" alt="s"><div class="item-list-text">在线诊疗服务平台</div></li>
                    <li><img src="../image/list.png" alt="s"><div class="item-list-text">在线诊疗服务平台</div></li>
                    <li><img src="../image/list.png" alt="s"><div class="item-list-text">在线诊疗服务平台</div></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="item-title"><span>联系我们</span></div>
        <div class="item-box">
            <div class="item-lists contact">
                <ul>
                    <li><img src="../image/icon_1.png" alt="s"><div class="item-list-text2">021-65666029</div></li>
                    <li><img src="../image/icon_2.png" alt="s"><div class="item-list-text2">shzpkm@126.com</div></li>
                    <li><img src="../image/icon_3.png" alt="s"><div class="item-list-text2">上海市虹口区欲仙路158号</div></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-box">
        <ul>
            <li>公司地址：上海正品科贸有限公司</li>
            <li>公司邮件：shzpkm@126.com</li>
            <li>工作时间：9：00-12：00  13：00-18：00</li>
            <li>公司电话：021-65666029</li>
            <li class="logo_item"><img src="../image/logo1.png" alt="logo"></li>
        </ul>
    </div>
</div>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../bootstrap/js/bootstrap.js"></script>
</body>
</html>