<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>新闻资讯</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes">-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/news.css">
</head>
<body>
<div class="fix_nav ComFixNav"><ul>
    <li class="phone"></li>
    <li class="clock"></li>
    <li class="QRCode"></li>
    <li class="BackTop"><a href="#"></a></li>
</ul></div>
<div class="uiContainer">
    <div class="menu">
        <div class="logo-inner">
            <img src="../image/logo.png" alt="logo" class="logo">
        </div>
        <div class="menu-box">
            <div class="menu-top-box"><a href="#">注册</a><a href="#">登录</a></div>
            <div class="menu-top-inner"><ul>
                <li><a href="./index.html">首页</a></li>
                <li><a href="./compInfo.html">公司简介</a></li>
                <li><a href="./product.html">产品中心</a></li>
                <li class="active"><a href="./news.html">新闻资讯</a></li>
                <li><a href="./join.html">招商联盟</a></li>
            </ul></div>
        </div>
    </div>
</div>
<div class="uiContainer container-all">
    <div class="content">
        <div class="top-img-box">
            <img class="top-img" src="../image/33.png">
        </div>
    </div>
</div>
<div class="uiContainer">
    <div class="content">
        <!-- 新闻 -->
        <div class="news-box NewsBox">
            <div class="tabs">
                <ul>
                    <li class="tabs-item NewsTabItem active">公司新闻</li>
                    <li class="tabs-item NewsTabItem ">健康科普</li>
                    <li class="tabs-item NewsTabItem ">健康睡眠</li>
                    <li class="tabs-item NewsTabItem ">慢病管理</li>
                </ul>
            </div>
            <div class="news-content-item">
                <div class="news-img-box ">
                    <img src="../image/advantage_icon_01.jpg" alt="新闻">
                </div>
                <div class="news-text">
                    <h5 class="news-title one-limit">这是新闻标题</h5>
                    <p class="news-des two-limit">这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号</p>
                </div>
                <div class="time-read-box">
                    <div class="new-time">2018-12-30</div>
                    <div class="read-num">204</div>
                </div>
            </div>
            <div class="news-content-item">
                <div class="news-img-box ">
                    <img src="../image/advantage_icon_01.jpg" alt="新闻">
                </div>
                <div class="news-text">
                    <h5 class="news-title one-limit">这是新闻标题</h5>
                    <p class="news-des two-limit">这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号</p>
                </div>
                <div class="time-read-box">
                    <div class="new-time">2018-12-30</div>
                    <div class="read-num">204</div>
                </div>
            </div>
            <div class="news-content-item">
                <div class="news-img-box ">
                    <img src="../image/advantage_icon_01.jpg" alt="新闻">
                </div>
                <div class="news-text">
                    <h5 class="news-title one-limit">这是新闻标题</h5>
                    <p class="news-des two-limit">这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号这是新闻内容超出两行就省略号</p>
                </div>
                <div class="time-read-box">
                    <div class="new-time">2018-12-30</div>
                    <div class="read-num">204</div>
                </div>
            </div>
        </div>
        <div class="page-box NewsBoxPage">
            <ul>
                <li class="page-item prev">上一页</li>
                <li class="page-item active" data-id="1">1</li>
                <li class="page-item" data-id="2">2</li>
                <li class="page-item" data-id="3">3</li>
                <li class="page-item next">下一页</li>
            </ul>
        </div>
    </div>

</div>
<div class="footer">
    <div class="footer-box">
        <ul>
            <li>公司地址：上海正品科贸有限公司</li>
            <li>公司邮件：shzpkm@126.com</li>
            <li>工作时间：9：00-12：00  13：00-18：00</li>
            <li>公司电话：021-65666029</li>
            <li class="logo_item"><img src="../image/logo1.png" alt="logo"></li>
        </ul>
    </div>
</div>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/index.js"></script>
</body>
</html>