<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>新闻资讯</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes">-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/news.css">
</head>
<body>
<div class="fix_nav ComFixNav"><ul>
    <li class="phone"></li>
    <li class="clock"></li>
    <li class="QRCode"></li>
    <li class="BackTop"><a href="#"></a></li>
</ul></div>
<div class="uiContainer">
    <div class="menu">
        <div class="logo-inner">
            <img src="../image/logo.png" alt="logo" class="logo">
        </div>
        <div class="menu-box">
            <div class="menu-top-box"><a data-toggle="modal" data-target="#register" href="">注册</a>
                <a data-toggle="modal" data-target="#login" href="">登录</a></div>
            <div class="menu-top-inner"><ul>
                <li><a href="./index.html">首页</a></li>
                <li><a href="./compInfo.html">公司简介</a></li>
                <li><a href="./product.html">产品中心</a></li>
                <li class="active"><a href="./news.html">新闻资讯</a></li>
                <li><a href="./join.html">招商联盟</a></li>
            </ul></div>
        </div>
    </div>
</div>
<div class="uiContainer container-all">
    <div class="content news-detail">
        <!-- 新闻 -->
        <div class="news-detail-inner">
            <h2>这次，凯锐普代表[中国光谷] 参展武汉老博会！</h2>
            <div class="news-detail-tt-info"><span>2018年10月9号 10:22</span><span>浏览量：222</span></div>
            <p>号外！号外！<br>金秋九月收获满满<br>燃情十月再普新风</p>
            <img src="../image/33.png" alt="22">
            <p>
                我们先来了解什么是老博会? <br>
                我们常说老年岁月是夕阳晚景,但老龄产业却是朝阳行业,方兴未艾。<br>
                人口老龄化是世界性问题,也是我国社会发展面临的一项重大难题。我国是世界上人口老龄化程度比较高的国家之一,应
                对人口老龄化的形势尤为严峻。<br>
                实施健康中国战略、积极应对人口老龄化,构建养老、孝老、敬老政策体系和社会环境,推进医养结合,加快老龄事业和
                产业发展,事关国家发展全局,事关百姓福祉,是国家政策的明确指向 <br>
                为深入贯彻落实党的会议精神,关于老龄事业、老龄产业发展的重要指示精神,落实《国务院办公厅关于全面放开养老服
                务市场提升养老服务质量的若干意见》和武汉市市委关于把招商引资作为当前经济工作—号工程”的工作要求,武汉市
                人民政府定于2018年10月举办湖北武汉(国际)养老产业博览会 <br>
                该展会的举办,对于促进国内外养老产业交流、合作,推动武汉市养老产业快速发展,满足老龄人口日益增长的物质文化
                需求,具有重要的意义! <br>
                中国光谷”选择了凯锐普 <br>
                沧海桑田,斗转星移,风云激荡30年,中国光谷,湖北最闪耀的一张名片 <br>
            </p>

        </div>
    </div>

</div>
<div class="footer">
    <div class="footer-box">
        <ul>
            <li>公司地址：上海正品科贸有限公司</li>
            <li>公司邮件：shzpkm@126.com</li>
            <li>工作时间：9：00-12：00  13：00-18：00</li>
            <li>公司电话：021-65666029</li>
            <li class="logo_item"><img src="../image/logo1.png" alt="logo"></li>
        </ul>
    </div>
</div>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../bootstrap/js/bootstrap.js"></script>
<script src="../js/index.js"></script>
</body>
</html>