.uiContainer .item{ text-align: center; background: #fff; padding-bottom: 150px;}
.uiContainer .item.bgColor{background: #e9e9e9;}
.uiContainer .item.bgColor2{background: #f6f7fb;}
.uiContainer .item .item-title{
    color: #000; font-size: 30px; line-height: 108px; padding-top: 80px; padding-bottom: 30px;
}
.uiContainer .item .item-title span{position: relative; letter-spacing: 2px;}
.uiContainer .item .item-title span:before{content: ""; position: absolute;
    border-bottom: 2px solid #000; bottom: -22px; left: 26%; width: 50%;
}
.uiContainer .item .item-box{overflow: hidden;}
.uiContainer .item .item-box-half{float: left; width: 50%; overflow: hidden; text-align: left;}
.uiContainer .item.news .item-box-half{height: 248px;}
.uiContainer .item.news .item-box{padding-right: 30px;}
.uiContainer .item .item-box-half .item-box-img1{width: 100%;}
.uiContainer .item .item-content{
    padding: 30px 215px; line-height: 50px; text-indent: 2em;
    font-size: 28px; text-align: left; color: #000;
}

.uiContainer .item .item-box-img2{
    width: 45%; padding-left: 5%; float: left; height: 100%;
}
.uiContainer .item .item-img-text-box{
    width: 55%; float: right; background: #fff; height: 100%; padding-left: 20px; box-sizing: border-box;
}
.uiContainer .item .item-img-text-box .img-more{
    font-size: 16px; text-align: right; color: #999;
    padding-top: 13px; padding-right: 12px; cursor: pointer;
}
.uiContainer .item .item-img-text-box .img-box-title span{
    font-size: 16px; color: #000; font-weight: bold;
}
.uiContainer .item .item-img-text-box .img-box-title ul{padding-left: 20px; line-height: 36px; padding-right: 20px; padding-top: 12px;}
.uiContainer .item .item-img-text-box .img-box-title li{
    list-style: disc;font-size: 14px; color: #999; position: relative;
}
.uiContainer .item .item-img-text-box .img-box-title .img-box-text-item{
    display: block;
}
.uiContainer .item .item-img-text-box .img-box-title li:before{
    content: " "; height: 4px; width: 4px; position: absolute; left: -14px; top: 45%; border-radius: 2px; background: #999;
}

.uiContainer .picture-box{height:600px;background: #a3e2d1; padding: 55px 0; box-sizing: border-box;}
.uiContainer .picture-box img{width: 100%;height: 100%;}
.uiContainer .comp-info {background: #fff; padding:150px 60px;}
.uiContainer .comp-info .comp-info-title{font-size: 30px; color: #000; font-weight: bold; letter-spacing: 2px; margin-bottom: 20px;}
.uiContainer .comp-info .comp-info-ct{
    overflow: hidden;}
.uiContainer .comp-info .comp-info-item{float: left; width: 50%;}
.uiContainer .comp-info .comp-info-item p{font-size: 16px; line-height: 30px; letter-spacing: 2px; margin-bottom: 20px;}
.uiContainer .comp-info .comp-info-item img{padding-left: 50px; width: 100%; box-sizing: border-box;}
.uiContainer .item .item-lists{padding: 0 110px;}
.uiContainer .item .item-lists.contact li{width: 33%; height: auto;}
.uiContainer .item .item-lists.contact li img{width: 56px; height: 56px;}
.uiContainer .item .item-lists li{float: left; width: 20%; position: relative;
    border-radius:2px;height: 236px; box-sizing: border-box; padding: 0 11px;}
.uiContainer .item .item-lists li img{width: 100%; height: 100%;}
.uiContainer .item .item-lists .item-list-text{
    position: absolute; bottom: 0; left: 11px; right: 11px; height: 30px;
    background: rgba(0,0,0,0.3); font-size: 14px; color: #fff; line-height: 30px;
}
.uiContainer .swiper-box .swiper-box-line{height: 55px; background: #a3e2d1; box-shadow: inset 0px 5px 6px #b5b5b5;}
.uiContainer .swiper-box .swiper-box-img{width: 100%;overflow: hidden;position: relative;}
.uiContainer .swiper-box .swiper-box-img img{display: block; width: 100%; height: 100%;}
.uiContainer .swiper-box .swiper-button-prev{background-color: rgba(0,0,0,0.6); background-size: 50%;}
.uiContainer .swiper-box .swiper-button-next{background-color: rgba(0,0,0,0.6); background-size: 50%;}

