@charset "UTF-8";

/**
 * @name: reset
 * 重设浏览器默认样式
 */


/* 防止用户自定义背景颜色对网页的影响  */

html {
    color: #333;
    background: #e9ebee;
}


/* 初始化各元素的margin和padding为0 */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
img {
    margin: 0;
    padding: 0;
}


/* 去除table单元格之间的空格，合并单元格之间的border */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 重置th和caption的对齐方式为左对齐 */

th,
caption {
    text-align: left;
}


/* 重置fieldset和img的边框为0 */

fieldset,
img {
    border: 0;
}


/* 去除列表项的默认样式，li继承ol/ul的list-style */

ol,
ul {
    list-style: none;
}


/* 表单元素不继承父级 font 的各项规则 */

input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}


/* sup/sub reset from Normalize.css */

sup,
sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* 重置Headline1~6的font size和weight */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}


/* 重置特殊标签的样式 */

strong,
em,
code,
cite,
address,
dfn,
var {
    font-style: normal;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}


/* enable resizing for IE */

input,
textarea,
select {
    *font-size: 100%;
}


/* ie6 7 8(q) bug 显示为行内表现 */

iframe {
    display: block;
}

a {
    text-decoration: none;
    color: #000;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}