<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>招商加盟</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes">-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/join.css">
</head>
<body>
<div class="fix_nav ComFixNav"><ul>
    <li class="phone"></li>
    <li class="clock"></li>
    <li class="QRCode"></li>
    <li class="BackTop"><a href="#"></a></li>
</ul></div>
<div class="uiContainer">
    <div class="menu">
        <div class="logo-inner">
            <img src="../image/logo.png" alt="logo" class="logo">
        </div>
        <div class="menu-box">
            <div class="menu-top-box"><a data-toggle="modal" data-target="#register" href="">注册</a>
                <a data-toggle="modal" data-target="#login" href="">登录</a></div>
            <div class="menu-top-inner"><ul>
                <li><a href="./index.html">首页</a></li>
                <li><a href="./compInfo.html">公司简介</a></li>
                <li><a href="./product.html">产品中心</a></li>
                <li><a href="./news.html">新闻资讯</a></li>
                <li class="active"><a href="./join.html">招商联盟</a></li>
            </ul></div>
        </div>
    </div>
</div>
<!-- 注册窗口 -->
<div id="register" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">注册</h4>
            </div>
            <div class="modal-body">
                <form class="form-group" id="reg-form" action="{:url('index/index/register')}">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input name="mobile" id="mobile" class="form-control" type="text" placeholder="手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" style="margin: 15px 0;">
                            <input name="password" id="password" class="form-control" type="password" placeholder="密码">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-sm-6">
                            <input name="verify_code" id="verify_code" class="form-control" type="text" placeholder="验证码" />
                        </div>
                        <div class="col-sm-6">
                            <a class="code get-code" href="javascript:;"> 获取验证码</a>
                            <a class="code countdown hide">60s</a>
                        </div>
                    </div>
                    <div class="form-group checkbox">
                        <div class="col-sm-12">
                            <label>
                                <input type="checkbox"> 我已阅读并接受<a>《服务条款协议》</a>
                            </label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">提交</button>
                    </div>
                    <!--<a href="" data-toggle="modal" data-dismiss="modal" data-target="#login">已有账号？点我登录</a>-->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 登录窗口 -->
<div id="login" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">登录</h4>
            </div>
            <div class="modal-body">
                <form class="form-group" id="login-form" action="{:url('index/index/login')}">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input name="mobiles" id="mobiles" class="form-control" type="text" placeholder="手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" style="    margin: 15px 0;">
                            <input name="passwords" id="passwords" class="form-control" type="password" placeholder="密码">
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="uiContainer container-all">
    <div class="content">
        <div class="top-img-box">
            <img class="top-img" src="../image/33.png">
        </div>
        <div class="advantage-box">
            <h4 class="title">我们的优势</h4>
            <div class="advantage-list">
                <ul>
                    <li class="advantage-item">
                        <h6 class="advantage-item-title">上海正品<br>城市品牌使用</h6>
                        <img src="../image/advantage_icon_01.jpg" alt="我们的优势">
                    </li>
                    <li class="advantage-item">
                        <h6 class="advantage-item-title">强大的<br>后台支持</h6>
                        <img src="../image/advantage_icon_03.jpg" alt="我们的优势">
                    </li>
                    <li class="advantage-item">
                        <h6 class="advantage-item-title">不可估量的<br>预期营收</h6>
                        <img src="../image/advantage_icon_05.jpg" alt="我们的优势">
                    </li>
                    <li class="advantage-item">
                        <h6 class="advantage-item-title">十余年<br>沉淀技术支持</h6>
                        <img src="../image/advantage_icon_07.jpg" alt="我们的优势">
                    </li>
                </ul>
            </div>
        </div>
        <div class="line"></div>
        <div class="join-process-box">
            <h4 class="title">合伙人加盟流程</h4>
            <div class="join-process-list">
                <ul>
                    <li class="join-process-item">
                        <img src="../image/process_icon_1.png" alt="我们的优势">
                        <h6 class="join-process-item-title">1.客服联系</h6>
                    </li>
                    <li class="join-process-item">
                        <img src="../image/process_icon_2.png" alt="我们的优势">
                        <h6 class="join-process-item-title">2.双方访评<br>估合作细节</h6>
                    </li>
                    <li class="join-process-item">
                        <img src="../image/process_icon_3.png" alt="我们的优势">
                        <h6 class="join-process-item-title">3.达成共识<br>签约合作</h6>
                    </li>
                </ul>
            </div>
            <div class="contact-wrap">
                <div class="tel-text">加盟电话</div>
                <div class="tel-num">021-65666029</div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-box">
        <ul>
            <li>公司地址：上海正品科贸有限公司</li>
            <li>公司邮件：shzpkm@126.com</li>
            <li>工作时间：9：00-12：00  13：00-18：00</li>
            <li>公司电话：021-65666029</li>
            <li class="logo_item"><img src="../image/logo1.png" alt="logo"></li>
        </ul>
    </div>
</div>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../bootstrap/js/bootstrap.js"></script>
</body>
</html>