<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>产品介绍</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes">-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/productDetail.css">
</head>
<body>

<div class="uiContainer">
    <div class="menu">
        <div class="logo-inner">
            <img src="../image/logo.png" alt="logo" class="logo">
        </div>
        <div class="menu-box">
            <div class="menu-top-box"><a href="#">注册</a><a href="#">登录</a></div>
            <div class="menu-top-inner"><ul>
                <li><a href="./index.html">首页</a></li>
                <li><a href="./compInfo.html">公司简介</a></li>
                <li><a href="./product.html">产品中心</a></li>
                <li><a href="./news.html">新闻资讯</a></li>
                <li><a href="./join.html">招商联盟</a></li>
            </ul></div>
        </div>
    </div>
</div>
<div class="uiContainer container-all">
    <div class="content">
        <div class="top-img-box">
            <img class="top-img" src="../image/33.png">
        </div>
    </div>
</div>
<div class="uiContainer">
    <div class="content">
        <!-- 产品 -->
        <div class="product-box">
            <div class="left-tabs">
                <h5 class="product-crumbs-title">产品分类</h5>
                <ul>
                    <li class="left-tabs-item active">科技床垫</li>
                    <li class="left-tabs-item">智能光纤手环</li>
                    <li class="left-tabs-item">智能睡眠</li>
                    <li class="left-tabs-item">监控管理器</li>
                    <li class="left-tabs-item">婴幼儿</li>
                    <li class="left-tabs-item">光纤检测垫</li>
                </ul>
            </div>
            <div class="product-content">
                <h5 class="product-crumbs-title">当前位置：首页>产品中心>科技床垫>爱思康床垫</h5>
                <div class="product-content-item">
                    <div class="product-img-box ">
                        <img src="../image/微信图片_20181207101719.jpg" alt="产品">
                    </div>
                    <div class="product-text">
                        <h5 class="product-title one-limit">爱思康床垫</h5>
                        <p class="product-des">价格：<span class="price">￥88000.00元</span></p>
                        <p class="spec-wrap">规格<span class="spec">800mm*1900mm</span></p>
                        <img class="mp-img" src="../image/code.png" alt="二维码">
                        <p class="tips">扫码进入小程序购买</p>
                    </div>
                </div>
                <div class="detail">
                    <h5 class="product-crumbs-title detail-title">产品介绍</h5>
                    <div class="detail-des">
                        <img src="../image/33.png" alt="产品介绍">
                    </div>
                </div>
            </div>
            
        </div>
        <!-- <div class="page-box"> 
            <ul>
                <li class="page-item">共计4个记录，</li>
                <li class="page-item">共1页，</li>
                <li class="page-item">当前第1页</li>
                <li>|</li>
                <li class="page-item page-btn">第一页</li>
                <li class="page-item page-btn">上一页</li>
                <li class="page-item page-btn">下一页</li>
                <li class="page-item page-btn">最末页</li>
            </ul>
        </div> -->
    </div>
</div>
<div class="footer">
    <div class="footer-box">
        <ul>
            <li>公司地址：上海正品科贸有限公司</li>
            <li>公司邮件：shzpkm@126.com</li>
            <li>工作时间：9：00-12：00  13：00-18：00</li>
            <li>公司电话：021-65666029</li>
            <li class="logo_item"><img src="../image/logo1.png" alt="logo"></li>
        </ul>
    </div>
</div>
</body>
</html>