.main{
	width: 1208px;
	margin: 28px auto 0;	
}
.main .left{
	width: 836px;		
}
.main .left .cont-wrap{
	padding: 0 24px;
	background: #fff;
}
.main .left .head{
	height: 86px;	
	color: #9e9e9e;
	line-height: 86px;
	border-bottom: 1px solid #d1d1d1;
}
.main .left .head a{
	color: #9e9e9e;
}
.main .left .cont-box .title{
	padding: 28px 0 20px;
	font-size: 16px;
}
.main .left .cont-box .info{
	color: #9e9e9e;
}
.main .left .info .icon{
	vertical-align: -2px;
}
.main .left .cont{
	padding: 32px 0;
	color: #676767;
	font-size: 16px;
}
.main .left .share-box{
	width: 138px;
	margin: auto;	
	overflow: hidden;
}
.main .btn-group{
	width: 270px;
	margin: 10px auto 52px;
	text-align: center;
}
.main .btn-group .zan,.main .btn-group .share{
	display: inline-block;
	width: 112px;
	height: 40px;
	margin-left: -13px;
	padding-left: 8px;
	color: #acacac;
	line-height: 40px;
	border: 1px solid #acacac;
	cursor: pointer;
}
.main .btn-group .plan{
	position: relative;
	display: inline-block;
	width: 68px;
	height: 40px;
}
.main .btn-group .img-box{
	position: absolute;
	left: -18px;
	top:0;	
	height: 40px;	
	border-left: 1px solid #acacac;
	border-right: 1px solid #acacac;
	border-radius: 24px;
	background: #fff;
}
.main .btn-group .img-border{
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 24px;
	border: 1px solid #acacac;
	border-radius: 24px;
}
.main .btn-group .img-border img{
	position: absolute;
	left: 8px;
	top: 8px;	
}
.main .btn-group .zan{
	background: url('../images/icon-zan1.png') no-repeat 12px center;
}
.main .btn-group .share{
	padding-left: 20px;
	color: #0172bd;
	background: url('../images/icon-share.png') no-repeat 30px center;
}
.main .link-box{
	padding-bottom: 30px;
}
.main .link-box .icon{
	margin-right: 14px;
}
.main .link-box .cont-box{
	width: 710px;
}
.main .link-box .link{
	display: inline-block;
	margin-right: 6px;
	padding: 2px 10px;
	color: #676767;
	background: #f0f0f0;
	border-radius: 4px;
}
.item2{
	margin: 10px 0;
	padding: 24px 4px 24px 24px;
	background: #fff;
}
.item2 .news-box{
	font-size: 0;
}
.item2 .news-box .news-list{
	display: inline-block;
	width: 182px;
	margin-right: 20px;
}
.item2 .news-box .title{
	color: #4e4d4d;
	font-size: 13px;
}
.item2 .news-box .text{
	color: #acacac;
	font-size: 12px;
}
.item2 .other-box{
	padding: 55px 0 32px;
}
.item2 .other-box .cont-left{
	width: 330px;
}
.item2 .other-box .tip{
	padding-bottom: 5px;
	color: #0070c0;
}
.item2 .other-box .list{
	display: block;
	margin-top: 18px;
	color: #676767;
	font-size: 13px;
}
.item2 .other-box .cont-right{
	width: 394px;
	padding-left: 10px;
	border-left: 1px solid #adadad;
}
.item2 .other-box .cont-right .common{
	display: inline-block;
	width: 15px;
	height: 14px;
	margin-right: 5px;
	color: #fff;
	font-size: 12px;
	line-height: 14px;	
	text-align: center;
}
.item2 .other-box .cont-right .bank1{
	background: #e62b2b;
}
.item2 .other-box .cont-right .bank2{
	background: #ff9c4b;
}
.item2 .other-box .cont-right .bank3{
	background: #fed32a;
}
.item2 .other-box .cont-right .bank4{
	background: #dbdbdb;
}
.item2 .other-box .cont-right .bank5{
	background: #dbdbdb;
}
.item3 .page{
	display: block;
	width: 416px;
	height: 40px;
	padding: 39px 0 34px;
	color: #676767;
	background: #fff;
	text-align: center;
}
.item3 .page .title{
	width: 190px;
	margin: 10px auto 0;
	background: #fff;
	text-align: center;
}
.right{
	width: 346px;
}
.right .item1{
	background: #fff;
}
.right .nav-box{
	height: 47px;
	line-height: 47px;
	background: #f7f7f7;
}
.right .nav-box a{
	float: left;
	display: block;
	width: 25%;
	height: 47px;
}
.right .nav-box .nav1{
	background: url('../images/icon-text1.png') no-repeat center center;
}
.right .nav-box .nav1.cur{
	background: #fff url('../images/icon-text2.png') no-repeat center center;
}
.right .nav-box .nav2{
	background: url('../images/icon-collect1.png') no-repeat center center;
}
.right .nav-box .nav2.cur{
	background: #fff url('../images/icon-collect2.png') no-repeat center center;
}
.right .nav-box .nav3{
	background: url('../images/icon-hot1.png') no-repeat center center;
}
.right .nav-box .nav3.cur{
	background: #fff url('../images/icon-hot2.png') no-repeat center center;
}
.right .nav-box .nav4{
	background: url('../images/icon-edit1.png') no-repeat center center;
}
.right .nav-box .nav4.cur{
	background: #fff url('../images/icon-edit2.png') no-repeat center center;
}
.right .item1 .cont-box{
	padding: 0 18px;
}
.right .item1 .cont-box .list{
	margin-bottom: 18px;
}
.right .item1 .cont-box .tip{
	padding: 20px 0 12px;
	color: #979797;
	font-size: 16px;
	font-weight: 600;
}
.right .item1 .info{
	width: 192px;
	margin-left: 8px;
}
.right .item1 .info .title{
	display: block;
	height: 54px;
	color: #676767;
}
.right .item1 .info .text{
	color: #888;
}
.right .item1 .info .count{
	padding-left: 18px;
	background: url('../images/icon-yan.png') no-repeat left center;
	background-size: 16px 16px;
}
.right .item1 .page{
	padding: 6px 0 15px;
	text-align: right;
}
.right .item1 .page .link{
	color: #0070c0;
}
.right .item2{
	margin: 16px 0;
	padding: 12px 12px 12px 18px;
	background: #fff;
}
.right .item3{
	background: #fff;
}
.right .item3 .tip{
	height: 40px;
	padding: 0 17px 0 55px;
	color: #979797;
	font-size: 16px;
	font-weight: 600;
	line-height: 40px;
	background: url('../images/icon-bq.png') no-repeat 16px center;
}
.right .item3 .arrow{
	color: #9b9b9c;
	font-size: 12px;
	background: url('../images/icon-right-arrow.png') no-repeat right center;
	background-size: 8px 8px;
}
.right .item3 .swiper{
	padding: 18px 16px 10px;
}
.right .item3 .swiper .link{
	display: inline-block;
	margin: 0 16px 16px 0;
	padding: 6px;
	color: #252525;
	border: 1px solid #f0f0f0;
}
.swiper-pagination-bullet{
	width: 5px;
	height: 5px;
	background: #aaa;
}
.swiper-pagination-bullet-active{
	background: #006dbf;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: -3px;
}